body {
  background-color: tan;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

td {
  color: darkgreen;
  border: 10px solid;
  broder-radius: 20px;
  border-image: linear-gradient(
      to bottom,
      #506b3c 0%,
      #88a564 50%,
      #506b3c 100%
    )
    1;
}

td input {
  appearance: none;
  width: 10px;
  border: 2px solid orange;
  background-color: blue;
  accent-color: brown;
}
