body {
  background-color: tan;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.kanjiRow {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.kanjiColumn {
  color: darkgreen;
  background-color: #ccff99;
  flex: 20% 20% 1;
  width: 25%;
  height: 80px;
  border: 10px solid;
  broder-radius: 20px;
  border-image: linear-gradient(
      to bottom,
      #506b3c 0%,
      #88a564 50%,
      #506b3c 100%
    )
    1;
}

.kanjiColumn input[type="checkbox"] {
  appearance: none;
  margin-bottom: 0;
  width: 1em;
  height: 1em;
  background: brown;
}

.kanjiColumn input[type="checkbox"]:checked {
  appearance: revert;
  accent-color: gold;
}
